.contato{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: white;
    padding: 1em 0 1em 1em;
    
}
.contato__titulo{
    color: rgb(0, 60, 255);
    font-weight: 700;
    padding-bottom: 0.5em;
}
.contato__texto{
    padding-bottom: 0.7em;
}
.contato__email{
    color: rgb(78, 78, 78);
    background-color: transparent;
    border:2px solid rgb(179, 116, 1);
    border-radius: 24px;
    padding: 1em;
    width: 20%;
}
.contato__email::placeholder{
    text-align: center;
    font-weight: 400;
    color: rgb(78, 78, 78);
    background: url(../img/Email.svg);
    background-repeat: no-repeat;
}
@media screen and (max-width:500px) {
    .contato__email{
        width: 80%;
    }
}